body .overlay-bg-ajax {
	position: fixed;
	z-index: 999;
	background-color: #fff;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.8;
	display: none;
}
body .overlay-bg-ajax img {
    width: 70px;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    bottom: 0;
    right: 0;
    left: 0;
}
body.ajax-loading .overlay-bg-ajax {
	display: block !important;
}